*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.header{
    color: blueviolet;
    background-color: black;
    /* margin: 0px;
    padding: 0px;
    border: 0px; */
    height: 20%;
    width: 100%;
    position: fixed;
}
#aa{
    font-size: 50px;
    margin-top: 50%;
    padding-top: 20%;
}
.nmn{
    margin-top: 3%;
    padding-left: 3%;
    /* background-color: red; */
    color: white;
}
.hdr2{
    color: white;
    /* background-color: blue; */
    /* padding-left: 10%; */
    left: 52%;
    /* margin-top: 2px; */
    /* top: 20%; */
    width: 30%;
    /* padding-top: 1%; */
    top: 7%;
    /* bottom: 5%; */
    position: absolute;
    display: flex;
    
}
.bdy{
    color: aqua;
    /* background-image:url(black.jpg); */
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    top: 20%;
    position: fixed;
    max-height: 70vh;
  overflow-y: auto;
    /* text-align: center; */
}
#ujji{
    /* background-color: red; */
    top: 25%;
    left: 50%;
    position: fixed;
    color: black;
    /* align-items: center; */
    

}
#ujji2{
    color: black;
    top: 82%;
    left: 18%;
    position: fixed;
    font-size: 20px;
    padding-right: 5%;
    /* align-items: center; */
}
.bdy2{
    color: brown;
    top: 90%;
    position: fixed;
}
#bttn{
    width: 10%;
    height: 5%;
    top: 70%;
    left: 60%;
    position: fixed;
    background-color:#3C2317;
    color: wheat;
    border-radius: 3px;
}
#bttn2{
    width: 8%;
    height: 5%;
    top: 70%;
    left: 40%;
    position: fixed;
    background-color:#3C2317;
    border-radius: 3px;
    color: wheat;
}
#bttn:hover{
    background-color: #070d0d;
}
#bttn2:hover{
    background-color: #070d0d;
}
#profile_pic{
    width: 36%;
    left: 10%;
    position: fixed;
    top: 20%;
}
hr{
    color: blue;
    width: 30%;
    position: fixed;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .project {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: large;
    color: black;
  }
  .project h2 {
    margin-bottom: 10px;
    color: #164B60;
    font-family: Arial, Helvetica, sans-serif;

    

  }
  .project p {
    margin-top: 10px;
    font-size: 20px;
  }

  p{
    font-size: 20px;
    justify-content: justify;
  }

  .vd{
    
    position: flex;
    align-items: center;
    padding-left: 30%;
    
  }